.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 2rem;
}
/*
.

.item{
  margin-bottom: 5rem;
}

.row{
  margin: 0 auto;
  margin-bottom: 5rem;

  &:not(:last-child) {
  }

}
*/
